body {
  background-color: #ff8094;
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
}

p{
  line-height: .1em;
  color: #ffedf0;
  text-align: center;
}

.bigger-view {
  font-size: 2.5em;
  padding-top: .2em;
}

div {
  margin-top: 45vh;
}
.mobile-only {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: pink;
  }
  p {
    color: #ffedf0;
  }
  .mobile-only {
    display: block;
  }
  .bigger-view {
    display: none;
  }
}

/* @media only screen and (min-width: 768px) {
  body {
    background-color: pink;
  }
  p {
    color: crimson;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
} */
